<div class="container home-container">
  <div class="row">

    <%= render 'inc/menu' %>

    <div class="sidebar col-md-5 col-sm-12 ">

      <%= render 'inc/burger_menu' %>

      <div class="site-info">
        <div class="primary-info">
          <h1>Future.pub</h1>

          <p>A social blogging platform and community. <a href="/future/features">Look at the features.</a></p>

          <p>Content is king!</p>
        </div>
        <div class="secondary-info">

          <p><a class="btn btn-writer btn-post" href="<%= new_user_registration_path %>"><i class="entypo-doc-text"></i>Join Us</a> or
            <a href="<%= new_user_session_path %>">Share your story</a></p>
        </div>
      </div>

    </div>

    <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

      <div class="nav">
        <a href="#" class="select-posts active"><%= t('posts') %></a>
        <a href="#" class="select-categories"><%= t('blogs') %></a>
      </div>

      <div class="home-page-posts animated fadeIn ">
        <%= render @posts %>
      </div>
      <!-- Home page posts -->

      <div class="home-page-categories hide animated fadeIn ">
        <div class="category row">
          <section>
            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Easy Living</h2>
              <a href="category.html"><img src="img/cover-2.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Adventure</h2>
              <a href="category.html"><img src="img/cover-4.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Storytime</h2>
              <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Open Roads</h2>
              <a href="category.html"><img src="img/cover-9.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Gaming</h2>
              <a href="category.html"><img src="img/cover-1.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>City Life</h2>
              <a href="category.html"><img src="img/cover-3.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Rave Culture</h2>
              <a href="category.html"><img src="img/cover-5.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Photography</h2>
              <a href="category.html"><img src="img/cover-7.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Animal Kingdom</h2>
              <a href="category.html"><img src="img/cover-8.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Beach</h2>
              <a href="category.html"><img src="img/cover-10.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Climbing</h2>
              <a href="category.html"><img src="img/cover-11.jpg" alt="category-image"></a>
            </div>

            <div class="category-preview col-xs-6 col-sm-4 ">
              <h2>Mystery</h2>
              <a href="category.html"><img src="img/cover-12.jpg" alt="category-image"></a>
            </div>

          </section>
        </div>
      </div>
      <div class="home-footer">
        <a href="post.html"> About </a>
        <i class="link-spacer"></i>
        <a href="post.html"> Writer 2014 </a>
      </div>

    </div>
    <!-- main content -->

  </div>
  <!--/row -->

</div> <!-- /container -->
