<div id="menu-target">
  <ul>
    <li><i class="entypo-home"></i><a href="/"><%= t('home') %></a></li>
    <% if user_signed_in? %>
      <li><i class="entypo-user"></i><a href="@<%= current_user.uri %>"><%= current_user.name %></a></li>
      <li><i class="entypo-star"></i><a href="favorites.html">Favorites</a></li>
      <li><i class="entypo-chart-area"></i><a href="dashboard.html">Stats</a></li>
      <li><i class="entypo-logout"></i> <%= link_to t('user.sign_out'), destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><i class="entypo-user-add"></i> <%= link_to t('user.sign_up'), new_user_registration_path %></li>
      <li><i class="entypo-login"></i> <%= link_to t('user.sign_in'),     new_user_session_path %></li>
    <% end %>
  </ul>
</div>
