<%= form_for([:futuro, @post]) do |f| %>
    <%= form_errors @post %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :blog_id %>
      <%= f.collection_select :blog_id, current_user.blogs.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, class: 'form-control' %>
    </div>

    <div id="post_blocks"></div>

    <div id="post_controls" class="panel panel-body">
      <%= link_to futuro_post_blocks_path(@post, block: :text), method: :post, remote: true do %>
        <span class="fa fa-text-width"></span>
      <% end  %>
    </div>

    <div class="form-group">
      <%= f.submit 'Save', class: 'btn btn-default' %>
    </div>
<% end %>
