<%= form_for([:futuro, @post]) do |f| %>

  <%= form_errors @post %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

    <div class="form-group">
      <%= f.label :blog %>
      <%= f.collection_select :blog, current_user.blogs.all, :id, :name, {}, class: 'form-control' %>
    </div>

  <!--<div class="form-group">-->
    <!--<%= f.label :content %>-->
    <!--<%= f.text_area :content, class: 'form-control' %>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<%= f.label :access %>-->
    <!--<%= f.number_field :access, class: 'form-control' %>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<%= f.label :blog_id %>-->
    <!--<%= f.text_field :blog_id %>-->
  <!--</div>-->
  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-default' %>
  </div>
<% end %>
