<header class="hero-image" role="banner" style="background-image: url(/img/default-single-hero.jpg);">
  <%= render 'inc/burger_menu' %>
  <%= render 'inc/menu' %>
</header>

<main class="container">
  <div class="row">
    <div class="col-xs-12 single-content">
      <p class="meta">
        <a href="<%= show_user_path(user_uri: @post.author_uri) %>"><%= @post.author_name %></a> in <a href=""><%= @blog.name %></a>
        <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 23 minute read
      </p>

      <h1><%= @post.title %></h1>

      <p class="subtitle"><%= @post.content_cut %></p>

      <%= simple_format @post.content %>
    </div>
  </div>
</main>

<%= render 'footer' %>